hr{
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

/* Media queries para Tablet - 1024px*/

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 3.5em 0 1.5em 0;
        height: 375.7px;
    }

    .lista-rodape {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape__titulo {
        color: var(--cinza-claro);
        font-size: 14px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

   .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {
        color: var(--cinza);
        font-size: 14px;
        text-decoration: none;
        margin-left: .6em;
    }
}